@import "../styles.css/competencies.css";
@import "../styles.css/contacts.css";
@import "../styles.css/copyright.css";
@import "../styles.css/footer.css";
@import "../styles.css/header.css";
@import "../styles.css/my-projects.css";
@import "../styles.css/services.css";


html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  background-color: #000000;
}

/*MAIN*/

.container {
  margin: 0 auto;
  width: 1400px;
}

.container_thin {
  margin: 0 auto;
  width: 1150px;
}

/*ADAPTIVE tablet*/

@media (max-width: 1199px) {
  .container {
    width: 100%;
  }

  .container_thin {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

}

/*ADAPTIVE mobile*/

@media (max-width: 767px) {

}











