.competencies {
    margin: auto;
    width: 1155px;
  }
  
  .stack-icon {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #1bff07;
    border-radius: 10px;
  }
  
  .stack-title {
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.03em;
    color: #1bff07;
  }
  
  .stack-about {
    margin-bottom: 60px;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.03em;
    color: #ffffff;
  }