.services {
    margin: auto;
    padding-top: 90px;
    width: 1155px;
  }
  
  .services h1 {
    margin-bottom: 74px;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.03em;
    color: #ffffff;
  }
  
  .text-wrapper {
    margin-bottom: 137px;
    width: 1150px;
    height: 283px;
    background: #191c19;
    border-radius: 30px;
  }
  
  .text-wrapper h3 {
    padding-top: 40px;
    padding-left: 40px;
    font-size: 55px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1bff07;
  }
  
  .text-wrapper p {
    padding-top: 15px;
    padding-left: 40px;
    width: 749px;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.03em;
    color: #ffffff;
  }